.nav-bar {
  display: flex;
  justify-content: space-around;
  max-height: 100px;
  height: 100%;
  &__list {
    margin: 10px;
    min-width: 520px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
  }
}
